<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="text-center mb-5 text-white">About Us</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-white mb-3">Our Mission</h2>
                <p class="text-white">Our project Coral Compass is created with the aim of preserving the environment,
                    raising awareness among the public and promoting sustainable practices, we strive to help the
                    creation of solutions for the well-being of our planet.</p>
                <h2 class="text-white mb-3">Our Members</h2>
                <ul class="text-white">
                    <li>Zhu Yufeng (Francis)</li>
                    <li>Jotham Gates</li>
                    <li>William Stephanus Arriel Halim</li>
                </ul>
                <h2 class="text-white mb-3">References and data sources</h2>
                <p class="text-white">References and sources for the data used are avilable <a href="/reference">here</a>.</p>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <img class="img-fluid rounded about-image" src="assets/images/181008-coral-reef-climate-mc-955.jpg"
                    alt="About Us Image">
            </div>
        </div>
    </div>
</body>

</html>