body {
    background-image: url('/assets/images/pexels-pok-rie-1655166.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: white;
    min-height: 100vh;
}

.container {
    position: relative;
    top: 2em;
    max-width: 90%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 2rem;
}

h1,
h2 {
    font-weight: 600;
}

p,
li {
    line-height: 1.6;
}

img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.about-image {
    border-radius: 10px;
}