body {
  background-image: url('/assets/images/pexels-pok-rie-1655166.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.center-column-div {
  background-color: white;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}