<!DOCTYPE html>
<html>

<head>
  <title>Graphs</title>
  <link rel="stylesheet" href="./graph-page.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="jumbotron text center-column-div">
    <app-graph-genus-bar (genusChangeEvent)="changeGenus($event)"></app-graph-genus-bar>
    <app-graph-species-bar [genusSubject]="genusSubject"></app-graph-species-bar>
    <app-graph-temperature></app-graph-temperature>
  </div>
</body>

</html>