<!DOCTYPE html>
<html>
    <head>
        <title>Map</title>
        <link rel="stylesheet" href="./map-page.component.css">
    </head>

    <div *ngIf="isLoading" class="loading-screen">
      <div class="spinner"></div>
    </div>

<div class="container"*ngIf="!isLoading">
    <div class="row mt-2">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Scientific Name"
          (input)="searchByScientificName($event.target)"
        />
      </div>
    </div>
  </div>
  
  <div class="map" id="map" class="match-parent"></div>
  </html>