body {
    background: linear-gradient(
  135deg,
  hsl(170deg, 80%, 70%),
  hsl(190deg, 80%, 70%),
  hsl(250deg, 80%, 70%),
  hsl(320deg, 80%, 70%)
);
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    max-width: 100%;
}

.container .carousel {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    max-height: 100%;
    height: fit-content;
    z-index: 100;
  }

.carousel-inner{
    width: 100%;
    height:100%;
}

.container .carousel .carousel-item {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

.container .carousel .caroursel-item img{
    transition: all 0.2s ease-in-out;
}

.container .carousel .carousel-caption{
    border-radius: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    color: aliceblue;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.5);
}

#prev, #next{
    width: 5%;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.5);
    cursor: pointer
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    max-width: 100%;
    padding: 0% 1%;
}

h1 {
    color: blueviolet;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card-title {
    font-weight: 600;
}

.btn-primary {
    background-color: #1269b0;
    border-color: #1269b0;
}

.btn-primary:hover {
    background-color: #0a4c81;
    border-color: #0a4c81;
}
