<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="./dashboard.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [@fadeInOut] [src]="currentImage" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <iframe title='Percent coral reefs left' src='https://www.theworldcounts.com/embeds/counters/1?&color=white&font_family=%22Roboto%22%2C+Arial%2C+sans-serif&font_size=18' style='border: none' height='120' width='300'></iframe>
                  <h5>Support Coral Reef</h5>
                  <p>Help us improve the accuracy of the monitor ^_^</p>
                  <button type="button" class="btn btn-primary btn-lg" routerLink="/import">Import Data Now</button>
                </div>
              </div>
            </div>
            <button id= "prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" (click) = "prevImage()">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button id = "next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" (click) = "nextImage()">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-2 g-4" style="margin: 0;">
                <div class="col">
                  <div class="card">
                    <img src="assets/images/pexels-photo-920163.png" class="card-img-top" alt="Component 1">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="#" class="btn btn-primary" routerLink="/map">Show Map</a></h5>
                        <p class="card-text">View Coral Reefs all around the globe, as well as their relevant information.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="assets/images/pexels-photo-7580843.png" class="card-img-top" alt="Component 2">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="#" class="btn btn-primary" routerLink="/graph">Show Graph</a></h5>
                        <p class="card-text">A graph is worth a thousand words. See the analytical side of coral reefs</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>

    </div>
<div class = "container">
    <div class="card" style="width: 94.5%;">
        <div class="card-header">
          More information
        </div>
        <ul class="list-group list-group-flush">
            <a href="https://wwf.org.au/what-we-do/oceans/great-barrier-reef/" class="btn btn-link">Great Barrier Reef | WWF Australia</a>
            <a href="https://oceanservice.noaa.gov/facts/coralreef-climate.html" class="btn btn-link">How does climate change affect coral reefs?</a>
            <a href="https://reeflifesurvey.com/" class="btn btn-link">Reef Life Survey - Reef Life Survey</a>
            <a href="https://www2.gbrmpa.gov.au/learn/reef-health" class="btn btn-link">Reef health | gbrmpa</a>
        </ul>
      </div>
</div>

</body>
</html>
