[Unit]
Description=Restores the ip tables as part of the coral reef monitor
StartLimitIntervalSec=0
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=iptables-restore <CORAL_COMPASS_DIR>/linux/iptables.saved
WorkingDirectory=/
User=root
