<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3FA3D1;">
  <a class="navbar-brand" routerLink="/" style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 600;">Coral Compass</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="!isCollapsed" id="navbarNav">
    <ul class="navbar-nav ml-auto" style="font-family: 'Poppins', sans-serif;">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-link-vertical" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-link-vertical" routerLink="/map">Map</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-link-vertical" routerLink="/graph">Visualisations</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-link-vertical" routerLink="/login" *ngIf="showLoginBtn">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-link-vertical" routerLink="/import" *ngIf="showImportBtn">Import data</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-link-vertical" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-spacer">
  <router-outlet></router-outlet>
</div>