body {
  overflow-x: hidden; /* Prevent horizontal scroll when navbar is displayed vertically */
}

@media (max-width: 991.98px) {
  .nav-link-vertical {
    margin-left: 0px; /* Adjust this value according to your preference */
  }
}

.navbar-brand {
  transition: all 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.05); /* Reduced the scale value */
}

.nav-item a {
  transition: all 0.3s;
}

.nav-item .dropdown-menu{
  background-color: #3FA3D1;
}

.nav-item a:hover {
  color: #fff;
  transform: scale(1.05); /* Reduced the scale value */
}

.navbar {
  position: fixed;
  z-index: 110;
  width: 100%;
}

.navbar-spacer {
  padding-top: 55px;
}